/* layout.css */
.responsive-bg {
  background-image: url('/images/homes.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; /* fills full width and height */
  background-position: center center;
  width: 100%;
  height: 100vh; /* makes it cover full screen height */
}

  
  @media (max-width: 768px) {
    .responsive-bg {
      background-image: url('/images/home_mobile.png'); /* Your mobile-specific image */
      background-size: contain;
      background-position: center;
    }
}